@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* IE Disable input cross */
input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.emails-input__card *,
.emails-input__card *::before,
.emails-input__card *::after {
  box-sizing: border-box;
}

.emails-input__card {
  --sidePadding: 50px;

  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
}

.emails-input__body {
  background-color: #f8f8f7;
  padding: 32px 50px 24px;
}

.emails-input__body .title {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 24px;
  color: #050038;
}

.emails-input__body .emails-container {
  background-color: #ffffff;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  width: 100%;
  padding: 7px 4px;
  height: 96px;
  overflow-y: auto;
}

.emails-container > * {
  margin-left: 8px;
  margin-bottom: 4px;
}

.emails-container .input {
  outline: none;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  max-width: 124px;
}

.emails-container .input::placeholder {
  color: #c3c2cf;
}

.emails-input__body .email-tag {
  background-color: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  padding-left: 10px;
  display: inline-flex;
}

.emails-input__body .email-tag.invalid {
  background-color: transparent;
  border-bottom: 1px dashed #d92929;
  border-radius: 0;
  padding: 0;
}

.email-tag .email-tag__text {
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #050038;
}

.email-tag .email-tag__remove-button {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

/* NTH: change color to red */
/* .email-tag .email-tag__remove-button:hover {
} */

.emails-input__actions-container {
  padding: 24px 50px 32px;
}

.emails-input__button {
  padding: 8px 16px;
  background-color: #4262ff;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  font-weight: normal;
  cursor: pointer;
}

.emails-input__button:hover,
.emails-input__button:focus {
  filter: brightness(120%);
}

.emails-input__button:first-child {
  margin-right: 16px;
}

@media screen and (max-width: 355px) {
  .emails-input__actions-container {
    display: flex;
    flex-direction: column;
  }
  .emails-input__button:first-child {
    margin: 0;
    margin-bottom: 16px;
  }
}
