@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.email-input__card {
  --sidePadding: 50px;

  width: 100%;
  max-width: 540px;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 100px auto;
  font-family: 'Open Sans', sans-serif;
}

.email-input__body {
  background-color: #f8f8f7;
  padding: 32px var(--sidePadding) 24px;
}

.email-input__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 24px;
  color: #050038;
}

.email-input__input {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #c3c2cf;
  width: 100%;
  padding: 7px 8px;
}

.email-input__button {
  padding: 8px 16px;
  background-color: #4262ff;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  font-weight: normal;
}

.email-input__button:last-child {
  margin-left: 16px;
}

.email-input__actions-container {
  padding: 24px var(--sidePadding) 32px;
}
